<!DOCTYPE html>
<html lang="en">
<!-- References -->

<link href="css/global.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/login.js"></script>

<!-- jQuery Modal Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- MD5 -->
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js'></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="About Us"></title>
</head>
<body>
<!-- Navbar -->
<div id="navbar">
    <!-- Load with JS in main.js -->
</div>
<!-- Content -->
<div id="pageContent">
    <div>
        <div id="indexCol_1">
            
        </div>
        <div id="indexCol_2">
            <h1>About us</h1>

            <p>Neighborly is about this community and helping serve the community. What we choose to accomplish is allowing the community to work together in finishing projects that are long over due.
                 We want to give those people a safe environment to help others and in the same process allow to make some money when their tools are not in use. 
            </p>

            <img src="images/aboutus.jpg" alt="" title="tools">
            

        </div>
        <div id="indexCol_3">
            <!-- <div id="indexAccordion">
                <h3>header 1</h3>
                <div>
                    <p>
                        content 1
                    </p>
                </div>
                <h3>header 2</h3>
                <div>
                    <p>
                        content 2
                    </p>
                </div>
            </div> -->
        </div>
    </div>
</div>


<!--End of Content -->
</body>
<!-- Footer -->
<footer>
    <div id="footer_default">
        <div class="footer_items">
            <!-- footer content left -->
        </div>
        <div class="footer_items">
            Copyright Neighborly
        </div>
        <div class="footer_items">
            <!-- footer content right -->
        </div>
    </div>
</footer>
</html>