<!DOCTYPE html>
<html lang="en">
<!-- References -->

<link href="/css/global.css" rel="stylesheet" />
<link href="/css/profile.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/profile.js"></script>

<!-- jQuery Modal Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- MD5 -->
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js'></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pageTitle"></title>
</head>
<body>
<!-- Navbar -->
<div id="navbar">
    <!-- Load with JS in main.js -->
</div>
<!-- Content -->
<div id="pageContent">
    <div id="profileLeft">
        <div id="profilePicture"><img id="userImage" src=""/></div>
        <div id="profileTitle"></div>
        <div id="profileDescription"></div>
    </div>
    <div id="profileRight">
        <div id="profileListings">
            <div id="profileListingsPageLeft">
                <div id="left_arrow_box">
                    <div class="arrow" id="left_arrow"></div>
                </div>
            </div>
            <div id="profileListingsContent">

            </div>
            <div id="profileListingsPageRight">
                <div id="right_arrow_box">
                    <div class="arrow" id="right_arrow"></div>
                </div>
            </div>
        </div>
        <div id="profileListingsReviews">

        </div>
    </div>
</div>

<!--End of Content -->
</body>
<!-- Footer -->
<footer>
    <div id="footer_default">
        <div class="footer_items">
            <!-- footer content left -->
        </div>
        <div class="footer_items">
            Copyright Neighborly
        </div>
        <div class="footer_items">
            <!-- footer content right -->
        </div>
    </div>
</footer>
</html>