<!DOCTYPE html>
<html lang="en">
<!-- References -->

<link href="css/global.css" rel="stylesheet" />
<link href="css/rental.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/rental.js"></script>

<!-- jQuery Modal Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pageTitle"></title>
</head>
<body>
<!-- Navbar -->
<div id="navbar">
    <!-- Load with JS in main.js -->
</div>
<!-- Content -->
<div id="pageContent">

    <h1 id=rentalTitle>Available Tools - Browse</h1>

    <div class="text-box">
        <h2>Hammer</h2>
        <img src="images/71tTWyypTKL._AC_SX679_.jpg" style="width: 200px; height: 200px;" alt="Image of a Hammer" >
        <p>
            Need to do some home maintenance, carpentry, put together some furniture? Whatever the cause we've
            got you with any hammer ranging from 14 - 28 oz. Click on right here to make your selection! 
        </p>
    </div>

    <div class="text-box">
        <h2>Saw</h2>
        <img src="images/95968_W3.jpg" style="width: 200px; height: 200px;" alt="Image of a Saw" >
        <p>
            Are you the type of handy person that would rather build your own wood furniture on a weekend
            instead of watching Netflix? Or maybe not... anyways Click here to pick out a Saw to rent!
        </p>
    </div>

    <div class="text-box">
        <h2>Chainsaw</h2>
        <img src="images/chainsaw.jpg" style="width: 200px; height: 200px;" alt="Image of Chainsaw" >
        <p>
            In need of a chainsaw to trim those wild branches in your yard? No need to worry, while we only have
            a few selections of variety, you're guaranteed to get the job done with one of our rental options.
            Click here to make a selection!
        </p>
    </div>

    <div class="text-box">
        <h2>Wrench Set</h2>
        <img src="images/wrenchset.jpg" style="width: 200px; height: 200px;" alt="Image of a Wrench Set" >
        <p>
            Here you can rent an entire set of wrenches to fit your unique tasks. CLick here to proceed with a rental!
        </p>
    </div>

    <div class="text-box">
        <h2>Screwdriver</h2>
        <img src="images/STHT60083_1.jpg" style="width: 200px; height: 200px;" alt="Image of a Screwdriver" >
        <p>
            Lost your screwdriver.. we've all been there. We're sure you'll find the perfect one to rent,
            click here to make a selection!
        </p>
    </div>

    <div class="text-box">
        <h2>Hand Axe</h2>
        <img src="images/hachet.jpg" style="width: 200px; height: 200px;" alt="Image of an Axe" >
        <p>
            Getting the firewood ready for the holidays? Of course you are. Find an axe that fits your preference here!
        </p>
    </div>
</div>

<!--End of Content -->
</body>
<!-- Footer -->
<footer>
    <div id="footer_default">
        <div class="footer_items">
            <!-- footer content left -->
        </div>
        <div class="footer_items">
            Copyright Neighborly
        </div>
        <div class="footer_items">
            <!-- footer content right -->
        </div>
    </div>
</footer>
</html>